
@{
    ViewBag.Title = "_NavSidebarPartial";
}

<style>
    .sidebar-wrapper.ps ul > li > a:hover {
        background-color: cornflowerblue;
        border-radius: 50px;
    }

        .sidebar-wrapper.ps ul > li > a:hover i {
            color: steelblue;
        }

        .sidebar-wrapper.ps ul > li > a:hover p {
            color: steelblue;
        }

        .sidebar-wrapper.ps ul > li > a:hover span {
            color: steelblue;
        }

        .sidebar-wrapper.ps ul > li > a:hover .caret {
            color: steelblue;
        }

    .sidebar-wrapper.ps ul > li > a > i {
        color: #03045E;
    }

    .sidebar-wrapper.ps ul > li > a > p {
        color: #03045E;
    }

    .sidebar .nav li > a, .off-canvas-sidebar .nav li > a {
        color: darkblue;
    }
</style>

@if (User.IsInRole("ESTUDIANTES"))
{
    @*1*@
    <ul class="nav">
        <li class="active">
            <a href="~/VirtualEstudiante">
                <i class="nc-icon nc-box "></i>
                <p>Resumen</p>
            </a>
        </li>

        <li class="active">
            <a href="~/VirtualEstudiante/Calificaciones">
                <i class="nc-icon nc-book-bookmark"></i>
                <p> Calificaciones </p>
            </a>
        </li>

    </ul>
    <!-- Navbar -->
}
@if (User.IsInRole("EMPLEADO"))
{
    <ul class="nav">

        <li class="active">
            <a href="~/VirtualEmpleado">
                <i class="nc-icon nc-box"></i>
                <p>Resumen</p>
            </a>
        </li>


        <li class="active">
            <a href="~/VirtualEmpleado/RegistroCalificacion">
                <i class="nc-icon nc-paper"></i>
                <p>
                    Registro de Calificaciones
                </p>
            </a>
        </li>
    </ul>


}



