
@{
    ViewBag.Title = "View";
    Layout = "~/Views/Shared/_HomePartial.cshtml";
}
<style>
    .form-gap {
        padding-top: 70px;
    }
</style>
<h2>Recuperar contraseña</h2>
<div class="form-gap"></div>
<div class="container">
    <div class="row">
        <div class="col-md-12 d-flex justify-content-center">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="text-center">
                        <h3><i class="fa fa-lock fa-4x"></i></h3>
                        <h2 class="text-center">Olvidaste tu contraseña?</h2>
                        <p>Recupera tu contraseña</p>
                        <div class="panel-body">

                            @using (Html.BeginForm())
                            {
                                <div class="text-success">
                                    @ViewBag.Message
                                </div>
                                @Html.ValidationSummary(true, "No se encontró ningún correo relacionado.", new { @class = "text-danger" })
                                <div class="form-group">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="glyphicon glyphicon-envelope color-blue"></i></span>
                                        <input id="email" name="email" placeholder="Correo" class="form-control" type="email">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <input name="recover-submit" class="btn btn-lg btn-primary btn-block" value="Recuperar Contraseña" type="submit">
                                </div>

                                <input type="hidden" class="hide" name="token" id="token" value="">
                            }

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
